:root {
  --color-principal: #ed6436;
}

* {
  font-family: 'Nunito', sans-serif;
}
.cabecera{
    height: 100px;
}
.link{
    text-decoration: none;
    color: inherit;
}
.juguete {
  border-radius: 50px;
}
.gato {
  border-radius: 50px;
}
.perro-marron {
  border-radius: 50px;
}
